In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
import tensorflow as tf

In [2]:
train_df = pd.read_csv("./C01_train_encoded.csv")
#train_df.info()

In [3]:
train_df.head(10)

,id,project_is_approved,project_grade_category_enc_0,project_grade_category_enc_1,project_grade_category_enc_2,project_grade_category_enc_3,school_state_enc_0,school_state_enc_1,school_state_enc_2,school_state_enc_3,...,project_subject_subcategories_enc_40,project_subject_subcategories_enc_41,project_subject_subcategories_enc_42,project_subject_subcategories_enc_43,project_subject_subcategories_enc_44,project_subject_subcategories_enc_45,project_subject_subcategories_enc_46,project_subject_subcategories_enc_47,teacher_number_of_previously_posted_projects,total_price
0,p036502,1.0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.55,0.56
1,p039565,0.0,0,1,0,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0.46,0.47
2,p233823,1.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0.48,0.49
3,p185307,0.0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0.52,0.53
4,p013780,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0.61,0.53
5,p063374,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0.46,0.53
6,p103285,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0.46,0.48
7,p181781,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0.46,0.48
8,p114989,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.51,0.46
9,p191410,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.50,0.42

In [4]:
train_data = train_df.values
xs = train_data[:, 2:]  # id,正解データ列以外を抽出
y = train_data[:, 1]  # 正解データ列のみ抽出

In [5]:
xs.shape

(182080, 181)

In [6]:
y.shape

(182080,)

In [7]:
y[y[0,] == 1].sum() / y.size

0.8476823374340949

In [8]:
train_X = xs[:150000, :]
train_Y = y[:150000]

test_X = xs[150000:, :]
test_Y = y[150000:]

In [9]:
train_X.shape

(150000, 181)

In [10]:
test_X.shape

(32080, 181)

In [11]:

#model = tf.keras.models.Sequential([
#  tf.keras.layers.Flatten(),
#  tf.keras.layers.Dense(32, activation=tf.nn.relu, input_shape=82),
#  tf.keras.layers.Dropout(0.2),

#  tf.keras.layers.Dense(10, activation=tf.nn.relu), # あってもなくても同じ(2秒遅くなる)
#  tf.keras.layers.Dropout(0.2),

#  tf.keras.layers.Dense(2, activation=tf.nn.softmax)
#  tf.keras.layers.Dense(1, activation=tf.nn.softmax)
#])

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

model = Sequential()
model.add(Dense(1024, input_dim=xs.shape[1], activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(512, activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam',
#              loss='sparse_categorical_crossentropy',
#              loss='categorical_crossentropy',
              loss='binary_crossentropy',
              metrics=['accuracy'])

#model.fit(xs, y, epochs=5)
#loss, accuracy = model.evaluate(xs, y)

model.fit(train_X, train_Y, epochs=15)
loss, accuracy = model.evaluate(test_X, test_Y)

print("loss = {:.2f}".format(loss))
print("acc = {:.2f}".format(accuracy))

Epoch 1/15
150000/150000 [==============================] - 27s 178us/step - loss: 0.4331 - acc: 0.8470
Epoch 2/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4273 - acc: 0.8475
Epoch 3/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4262 - acc: 0.8475
Epoch 4/15
150000/150000 [==============================] - 25s 165us/step - loss: 0.4254 - acc: 0.8475
Epoch 5/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4248 - acc: 0.8475
Epoch 6/15
150000/150000 [==============================] - 25s 167us/step - loss: 0.4250 - acc: 0.8475
Epoch 7/15
150000/150000 [==============================] - 25s 167us/step - loss: 0.4241 - acc: 0.8475
Epoch 8/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4241 - acc: 0.8475
Epoch 9/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4235 - acc: 0.8475
Epoch 10/15
150000/150000 [==============================] - 25s 166us/step - loss: 0.4226 - acc: 0.8475
Epoch 11/15
150000/150000 [==============================] - 25s 167us/step - loss: 0.4217 - acc: 0.8476
Epoch 12/15
150000/150000 [==============================] - 25s 165us/step - loss: 0.4215 - acc: 0.8475
Epoch 13/15
150000/150000 [==============================] - 25s 167us/step - loss: 0.4202 - acc: 0.8475
Epoch 14/15
150000/150000 [==============================] - 25s 167us/step - loss: 0.4197 - acc: 0.8475
Epoch 15/15
150000/150000 [==============================] - 25s 168us/step - loss: 0.4192 - acc: 0.8475
32080/32080 [==============================] - 2s 50us/step
loss = 0.42
acc = 0.85

In [12]:
test_df = pd.read_csv("./C01_test_encoded.csv")
#test_df.info()

In [13]:
test_df.head(5)

,id,project_is_approved,project_grade_category_enc_0,project_grade_category_enc_1,project_grade_category_enc_2,project_grade_category_enc_3,school_state_enc_0,school_state_enc_1,school_state_enc_2,school_state_enc_3,...,project_subject_subcategories_enc_40,project_subject_subcategories_enc_41,project_subject_subcategories_enc_42,project_subject_subcategories_enc_43,project_subject_subcategories_enc_44,project_subject_subcategories_enc_45,project_subject_subcategories_enc_46,project_subject_subcategories_enc_47,teacher_number_of_previously_posted_projects,total_price
0,p233245,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.47,0.43
1,p096795,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0.46,0.44
2,p236235,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.46,0.45
3,p233680,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.46,0.46
4,p171879,NaN,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0.46,0.47

In [14]:
test_data = test_df.values
xs_test = test_data[:, 2:]

In [15]:
y_test = model.predict(xs_test, verbose=1)
#y_test = model.predict_proba(xs_test, batch_size=1000, verbose=1)

78035/78035 [==============================] - 2s 31us/step

In [16]:
y_test.shape

(78035, 1)

In [17]:
y_test[0:20,:]

array([[0.8278993 ],
       [0.90156454],
       [0.82512057],
       [0.8886229 ],
       [0.83250296],
       [0.87853014],
       [0.8828469 ],
       [0.9109824 ],
       [0.87504476],
       [0.9003165 ],
       [0.87127376],
       [0.9023436 ],
       [0.8559518 ],
       [0.89822966],
       [0.9095462 ],
       [0.82955635],
       [0.9040412 ],
       [0.8705009 ],
       [0.8532542 ],
       [0.85232633]], dtype=float32)

In [18]:
y_test[y_test[:,0] >= 0.815].size / y_test.size

0.7863010187736272

In [19]:
y_test[y_test[:,0] < 0.815]

array([[0.7639123 ],
       [0.76655966],
       [0.7953293 ],
       ...,
       [0.81368756],
       [0.7652291 ],
       [0.8132109 ]], dtype=float32)

In [20]:
y_test[y_test[:,0] < 0.815].size

16676

In [21]:
Submission = pd.DataFrame()
Submission["id"] = test_df["id"].astype(str)
Submission["project_is_approved"] = y_test.astype(str)

In [22]:
import csv
Submission.to_csv("D01_Submission_7.csv", quoting=csv.QUOTE_NONNUMERIC , quotechar='"', index=False)